.item
    li
        width: 70%
        height: 220px
        border: 1px solid #BABABA
        border-radius: 8px
        margin: 15px
        .borderitem
            padding: 10px 16px
            img
                width: 100%
                height: 140px   
            .productname
                font-weight: 600
                text-transform: uppercase
            .productbutton
                display: flex
                justify-content: space-between
                