.gridtable
    height: 100%
    .listitem
        height: 90%
        padding: 3px 16px
        ul
            &.list
                padding-left: 0px       
                display: flex
                list-style: none
                flex-wrap: wrap   
    .paginator
        display: flex
        justify-content: center
        align-items: center