.gridtable
    height: 100%
    .listitem
        height: 90%
        padding: 3px 16px
        ul
            &.list
                display: flex
                list-style: none
                flex-wrap: wrap   
    .paginator
        display: flex
        justify-content: center
        align-items: center
    .notfound
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        .img
            height:100%