button
    &.addmodalbutton
        border: 1px solid #00CCFF
        color: #00CCFF
        text-transform: none
        width: 160px
        height: auto
.modaltitle
    display: flex
    justify-content: space-between
.buttonside
    display: flex
    justify-content: center