.item
    li
        width: 259px
        height: 220px
        margin: 15px
        border: 1px solid #BABABA
        border-radius: 8px
        .borderitem
            padding: 10px 16px
            img
                width: 100%
                height: auto   
            .productname
                font-weight: 600
                text-transform: uppercase
            .productprice
                margin-top: 10px
                font-weight: 400
                color: #62677A